 <mat-card class="full-card">
    <mat-card-header>
        <mat-card-title>Donations</mat-card-title>
        <mat-card-subtitle>I give my thanks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span style="font-size:100px;text-align:center; margin:5px auto;">💖</span>
<p>If this helped you in any way, or you would like to support the developer working on it, please donate</p>
<b>Your satoshis are appreciated</b>
<mat-list>
    <mat-list-item >
        <mat-icon mat-list-icon class="BTC">attach_money</mat-icon>
        <h4 mat-line>Address:</h4>
        <h4 mat-line>1F5zVDgNjorJ51oGebSvNCrSAHpwGkUdDB</h4>
    </mat-list-item>
    </mat-list>
    </mat-card-content>
</mat-card>