<app-navbar class="navbar mat-elevation-z6"></app-navbar>

<mat-sidenav-container class="container ">
    <mat-sidenav #sidenav mode="side" class="sidebar" opened="true">
        <mat-nav-list>
            <mat-list-item routerLink="calculator" routerLinkActive="calculator-highlight">
                <mat-icon>account_balance</mat-icon>&nbsp;
                <h3>Calculator</h3>
            </mat-list-item>
            <mat-list-item routerLink="pro-calculator" routerLinkActive="pro-calculator-highlight">
                <mat-icon>work</mat-icon>&nbsp;
                <h3>Pro Calculator</h3>
            </mat-list-item>
            <mat-list-item routerLink="help" routerLinkActive="help-highlight">
                <mat-icon>help_outline</mat-icon>&nbsp;
                <h3>Help</h3>
            </mat-list-item>
            <mat-list-item routerLink="donate" routerLinkActive="donate-highlight">
                <mat-icon>thumb_up</mat-icon>&nbsp;
                <h3>Donate</h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>grade</mat-icon>&nbsp;
                <a href="https://github.com/gloriousCode/ozcryptotax" target="_blank">
                    <h3>GitHub</h3>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>bug_report</mat-icon>&nbsp;
                <a href="https://github.com/gloriousCode/ozcryptotax/issues/new" target="_blank">
                    <h3>Report a bug</h3>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <div class="main">
        <router-outlet class="main-block"></router-outlet>
    </div>
</mat-sidenav-container>