.container {
    height: 100vh;
    min-height: 100%;
}

.main {
    margin-top: 5rem;
    height: 100%;
    width: 100%;
}

.main-block {
    margin: auto 20px;
}

.sidebar {
    width: 12rem;
    position: fixed;
    margin-top: 4rem;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.calculator-highlight {
    color: rgb(91, 214, 214) !important;
}

.pro-calculator-highlight {
    color: rgb(30, 121, 27) !important;
}

.trading-highlight {
    color: orangered !important;
}

.history-highlight {
    color: cornflowerblue !important;
}

.help-highlight {
    color: magenta !important;
}

.donate-highlight {
    color: goldenrod!important;
}