.full-card {
    margin: 10px;
    width: 90%;
}



.mat-fab {
    top: auto;
    right: 30px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 3;
}

.example-container {
    display: flex;
    flex-direction: row;
  }
  
  .example-container > * {
    width: 33%;
    margin:1rem;
  }


