.full-card {
    margin: 20px;
    width: 90%;
}


.mat-fab {
    top: auto;
    right: 30px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 3;
}

.example-container {
    display: flex;
    flex-direction: row;
  }
  
  .example-container > * {
    width: 33%;
    margin:1rem;
  }

  .mat-table {
    display: block;
    width: 94%;
    margin:20px;
  }
  
  .mat-row,
  .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
  }

  .mat-row:nth-child(odd) {background: rgba($color: #000000, $alpha: 0.1)}
  
  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }

